<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../poppins.css">
</head>
<body>
    <header>
        <div class="row justify-between">
            <div class="logo"><a href="/medicine/home"><img src="../logo_big.svg" alt="PharmEsy"></a></div>
        <nav class="navigation">
            <ul class="row align-center">
                <li><a href="/medicine/homeMedicine">Home</a></li>
                <li><a href="/medicine">Add Medicine</a></li>
                <!-- <li><a href=""></a></li> -->
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/signup">Signup</a></li>
            </ul>
        </nav>
        </div>
    </header>
</body>
</html>